export ADDR=":8888"
export DB_ADDR="postgres://USERNAME:PASSWORD@HOST/DBNAME?sslmode=disable"
export FROM_EMAIL=""
export SENDGRID_API_KEY=""
export MAILTRAP_API_KEY=""
export REDIS_ENABLED=false
export RATELIMITER_REQUESTS_COUNT=20
export RATELIMITER_ENABLED=true
export CORS_ALLOWED_ORIGIN=http://localhost:5174


